<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quidem voluptate maxime, repellendus a optio
        consectetur enim at sint provident ipsam. Labore dignissimos unde fugit. Provident unde iste velit explicabo.
    </h1>

    <%- include('./partials/navbar') %>
</body>

</html>