<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa nostrum alias inventore adipisci beatae
        sequi magnam eum odit atque commodi non ullam libero explicabo, nam animi modi autem placeat.</h1>
        <%= ob.name %>
</body>

</html>